@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-color: #149ddd;
  --secondary-color: #173b6c;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-open-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway), sans-serif;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--secondary-color);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
}

.section-bg {
  background-color: #f5f8fd;
}

.progress-bar {
  display: block;
  height: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.portfolio-wrap:hover {
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.15);
}

.portfolio-links {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  background: rgba(20, 157, 221, 0.75);
  padding: 15px;
}

.portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

.portfolio-links a {
  color: #fff;
  margin: 0 5px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio-links a:hover {
  color: #37b3ed;
}

.icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.icon-box:hover {
  transform: translateY(-5px);
}

.icon {
  margin-bottom: 15px;
}

.icon i {
  font-size: 48px;
  line-height: 1;
  color: var(--primary-color);
}

.testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  background: #fff;
  border-radius: 8px;
}

.testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

@media (max-width: 768px) {
  .testimonial-img {
    position: static;
    margin-bottom: 20px;
  }
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: var(--primary-color);
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--primary-color);
  color: #fff;
}
